body {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
h1 {
    font-weight: bold;
}
.blog {
    background-color: burlywood;
    font-weight: bold;
    margin: 10px;
    padding: 10px;
    border-radius: 20px;
}